<div id="{{modal_id}}" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				{% block head_content %}{% endblock %}
			</div>
			{% block body_content %}{% endblock %}
			{% block footer_content %}{% endblock %}
		</div>
	</div>
</div>
